.about_solution{
    padding-top: 7rem;
}
.about_solution_layout{
    padding:0 5rem;
}
.solution_left{
    display: flex;
    justify-content: end;
}
.solution_right{
    font-family: 'Gothic A1', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 50px;
    display: flex;
    justify-content: start;
}